{% extends "layout.html" %}
{% block title %}Add Control{% endblock %}
{% block content %}

    <h1>Add New Control</h1>
    <form method="POST" action="{{ url_for('add_control') }}"">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.rating.label(class="form-label") }}
            {{ form.rating(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.status.label(class="form-label") }}
            {{ form.status(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.date.label(class="form-label") }}
            {{ form.date(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

{% endblock %} 